@using UniSite.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Title</h1>

    <h3>Content</h3>

    <p>
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text text text text text text
    </p>
</div>
